@import '~/assets/style/variable.scss';

:root {
  --primary-color-900: $--color-primary;
  --primary-color-800: #555;
  --primary-color-700: #444;
  --primary-color-600: #333;
  --app-padding: 12px;
  --side-bar-color: #333;
}

html {
  font-size: var(--base-font-size);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}
